img {
	display: inline;
	height: 64px;
}
h1 {
	color: darkgreen;
	font-size: 300%;
	display: inline;
	text-shadow: 3px 3px 5px black;
}
body {
	 background-image: url(flowers.png);
	 background-size: 100%;
	 text-align: center;
    background-color: aqua
}
input {
    background-color: blue;
    color:white;
    width: 166px;
    height: 40px;
    border-radius:  10px;
    margin-top: 64px;
}
   


    
